
.container {
    display: flex;
    margin: auto;
    flex: 0 0 80%;
    
    padding:100px 300px 110px 300px ;
}

.card_wrapper {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
   
   
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 10px;
    flex-direction: column;
    width: 24%;
    background-color: rgb(239, 242, 243);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.card_wrapper img {
    max-width: 95%;  
    border: 1px solid black; 
    box-shadow: 1px 2px 3px black;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgb(221, 182, 219);
}

.catalog_bg{
 background-image: url('./bc.jpg');
 background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}