
.info_text_container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);  
    opacity: 0.7;
    background-color: black;
    border-radius: 15px;
    
  }
  
  .info_text_container h1, h3{
    margin-bottom: 55px;
    margin-top: 35px;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
    text-align: center; 
    color: white;
  
  }
  .info_text_container h3 {
    font-size: 42px;
  }
  .background {
    background: url('https://firebasestorage.googleapis.com/v0/b/softuni-project-50db8.appspot.com/o/site%20images%2Fpexels-marko-zirdum-2188012.jpg?alt=media&token=bbf5ed43-402e-43df-8972-50649ce9027a');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }