@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .background {
    background: url('https://firebasestorage.googleapis.com/v0/b/softuni-project-50db8.appspot.com/o/site%20images%2Fpexels-cottonbro-studio-7974874.jpg?alt=media&token=0c3cd9b2-8e50-4507-914f-b449ed9b514f');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Luckiest Guy', cursive;
  }

  .wrapper {
    background-color: #7629b9c1;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    text-align: center;
  }

.wrapper form {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

label {
  display: block;
}