/* header */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
 margin-top: -20px;
}
.nav-bar a , .logout-btn , .nav-bar span{
  font-style: italic;
  text-decoration: none;
  font-size: 22px;
  color: rgb(231, 221, 221);
  font-weight: bold;
  transition: transform .2s;
  border: none;
text-shadow: 2px 2px 4px #000000;
margin-bottom: 70px;
}

.nav-bar span{
  margin-left: 2rem;
}

.logout-btn{
  background-color: transparent;
}
#logo{
  margin-right: 19rem;
}

#logo:hover{
  transform: scale(1.2);
}

.nav-bar a:hover{
  color: rgb(110, 5, 5);
  transform: scale(1.2);
}
.logout-btn:hover {
  color: rgb(110, 5, 5);
  transform: scale(1.2);
}

/* home */

header{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}